.sign-up-title {
  line-height: 42px;
}

.sign-up-btn {
    height: 52.06px;
    font-size: 18px;
    border-radius: 8px !important;
}

.sign-up-terms-check {
    margin-top: 20px;
    height: 80px;
}

.calendar-dialog-btn {
  margin-top: 50px;
}
