/* You can add global styles to this file, and also import other style files */

@import "material-icons/iconfont/material-icons.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

$green: #29c946;
$gray: #858ea2;
$red: #f44336;
$yellow: #ccbd31;

.app-font-11 {
  font-size: 11px;
}

.app-font-12 {
  font-size: 12px;
}

.app-font-13 {
  font-size: 13px;
}

.app-font-14 {
  font-size: 14px;
}

.app-font-15 {
  font-size: 15px;
}

.app-font-16 {
  font-size: 16px;
}

.app-font-17 {
  font-size: 17px;
}

.app-font-18 {
  font-size: 18px;
}

.app-font-19 {
  font-size: 19px;
}

.app-font-20 {
  font-size: 20px;
}

.app-font-21 {
  font-size: 21px;
}

.app-font-22 {
  font-size: 22px;
}

.app-font-23 {
  font-size: 23px;
}

.app-font-24 {
  font-size: 24px;
}

.app-font-36 {
  font-size: 36px;
}

.app-bold {
  font-weight: bold;
}

.app-padding-16-8 {
  padding: 16px 8px;
}

.app-padding-40-16 {
  padding: 40px 16px;
}

.app-pointer {
  cursor: pointer;
}

.app-link {
  @extend .app-pointer;

  color: #005fad;

  &:hover {
    text-decoration: underline;
  }
}

.app-color-green {
  color: $green;
}

.app-color-gray {
  color: $gray;
}

.app-color-red {
  color: $red;
}

.app-color-yellow {
  color: $yellow;
}

.mat-checkbox-inner-container {
  width: 20px !important;
  height: 20px !important;
  border-radius: 4px !important;
}

.mat-checkbox-background,
.mat-checkbox-frame {
  border-radius: 4px !important;
  padding: 3px !important;
}
